html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
}

.container {
    display: grid;
    background-color: black;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: solid 1vw;
    box-shadow: 10px 10px 5px;
    width: 75vmin;
    height: 80vmin;
    min-width: 250px;
    min-height: 250px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.container__choice {
    margin: auto;
    width: 90%;
    height: 90%;
    font-size: 20vmin;
    text-align: center;
    background-color: white;
}

.container__choice:hover {
    cursor: pointer;
}

#choice--rock:hover,
#choice--paper:hover,
#choice--scissors:hover {
    border-bottom: 10px solid white;
    cursor: pointer;
}

.score--self {
    position: absolute;
    left: 0;
    bottom: 0;
}

.score--opp {
    position: absolute;
    right: 0;
    top: 0;
}

.score--self p {
    bottom: 0;
    left: 0;
    font-size: 120px;
    margin: 0;
}

.score--opp p{
    top: 0;
    right: 0;
    font-size: 120px;
    margin: 0;
}

.ui {
    display: flex;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-start: 4;
}

#label {
    color: white;
    font-size: 16px;
    margin: 10px;
}

#user-input {
    width: 50%;
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
    padding-left: 10px;
    margin: 10px;
}

#user-input:focus {
    outline: none;
    border: 3px solid black;
}

.enter-button {
    font-family: "Jersey 10", sans-serif;
    font-size: 19px;
    margin: 10px;
    align-self: center;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 2px 2px 1px;
}

#result-popup {
    position: absolute;
    /* display set to none until someone wins*/
    display: none;
    background-color: rgba(100, 100, 100, 0.9);
}

#result-statement {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: min(20vw, 50px) auto;
    text-align: center;
    line-height: 50px;
    font-size: max(16vw, 50px);
    background-color: rgba(100, 100, 100, 0.9);
    box-shadow: 4px 4px 4px black;
    width: 90%;
    height: 30%;
}

/* tablet screens */
@media screen and (min-width: 450px) and (max-width: 962px) {
    #label {
        font-size: 20px;
    }

    #result-statement {
        font-size: 100px;
        margin: min(20vw, 100px) auto;
        line-height: 100px;
    }
}

/* desktop screens */
@media screen and (min-width: 963px) {
    #label {
        font-size: 20px;
    }

    #result-statement {
        font-size: 100px;
        margin: min(20vw, 100px) auto;
        line-height: 100px;
    }
}

@media screen and (min-width: 1900px) {
    #displayed-oppscore, #displayed-userscore {
        font-size: 500px;
    }
}